nav {
  background-color: #1c3334;
}
.app {
  background-color: #376e6f;
}
.logo {
  height: 40px;
}
.mytext {
  color: floralwhite;
}
.row-header {
  margin: 0px auto;
  padding: 0px auto;
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.submit-button {
  background-color: #1c3334;
  color: floralwhite;
}
.dp {
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.myradar {
  margin-left: auto;
  margin-right: auto;
}

.shape {
  fill-opacity: 0.3;
}
.shape:hover {
  fill-opacity: 0.65;
  z-index: 100;
}
.scale {
  fill: #376e6f;
  stroke: white;
  stroke-width: 0.2;
}

.axis {
  stroke: white;
  stroke-width: 0.3;
}

.caption {
  fill: floralwhite;
  font-weight: 400;
  font-size: large;
  text-shadow: 1px 1px 0 #fff;
}

th {
  background-color: #1c3334;
}
tr:hover {
  background-color: #2f4454;
}
.page-enter {
  opacity: 0.01;
  transform: translate(100%);
}
.page-enter-active {
  opacity: 1;
  transform: translate(0%);
  transition: all 350ms;
}
.out-enter {
  opacity: 0.01;
  transform: translateY(100%);
}
.out-enter-active {
  opacity: 1;
  transform: translateY(0%);
  transition: all 350ms;
}
